/* Start Global Rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
}
/* End Global Rules */
/* ---ROOT-- */
:root{
    --text-color: #210440;
    --bg-color: #fbe2d4;
    --main-color: hsl(44, 100%, 50%) ;
    --h1-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
    --span-font: 4rem;
}
/* ---ROOT ENDS--- */
body{
    color: var(--text-color);
    background: var(--bg-color);

}
/* Header */
header{
    position: fixed;
    height: 4rem;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: #ffffff8e;
    padding: 29px 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

#logo{
    width: 120px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    color: var(--text-color);
    font-size: 27px;
    cursor: pointer;
    z-index: 10000;
    display: none;

}
.btnlgn{
    display: inline-block;
    padding: 13px 40px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    transition: all .50s ease;
    cursor: pointer;

}
.btnlgn:hover{
    
    border: 2px solid var(--main-color);
    background: var(--text-color);
    color: var(--main-color);
    border-radius: 40px;
}
/* Header End */
/* Login Register */
.form-container{
    position: fixed;
    max-width: 350px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 100005;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}
.home.show .form-container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);

}
.home::before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(91, 8, 180, 0.5);
    z-index: 100004;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}
.home.show::before{
    position: fixed;
    opacity: 1;
    pointer-events: auto;
}
.register-form{
    display: none;
}
.form-container.active .register-form{
    display: block;
}
.form-container.active .login-form{
    display: none;
}
.form-closer{
    position: absolute;
    top: 10px;
    right: 25px;
    color: var(--p-font);
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
    transition: all .50s ease;
}
.form-closer:hover{
    color: var(--main-color);
}
.form-container h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    text-align: center;
}
.inputs-box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;

}
.inputs-box input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 30px;
    outline: none;
    border-bottom: 2px solid var(--text-color);
    transition: all 0.2s ease;
}
.inputs-box i{
    position: absolute;
    top: 30%;
    transform: rotateY(-50%);
    font-size: 20px;
}
.inputs-box input:focus{
    border-color: var(--main-color);
    
}
.inputs-box input:focus ~ i.email,
.inputs-box input:focus ~ i.password,
.inputs-box input:focus ~ i.usernme{
    color: var(--main-color);
    
}
.inputs-box i.email, i.password, i.usernme{
    left: 0px;
    color: var(--p-font);
}
.inputs-box i.pass-hide{
    right: 0;
    font-size: 18px;
    color: var(--p-font);
    cursor: pointer;
}
.form-container a{
    color: #8710f7;
    font-size: 12px;
}
.form-container a:hover{
    text-decoration: underline;
}
.optn-field{
    display: flex;
    align-items: center;
}
.form-container .login-now{
    padding: 20px 20px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 25px;
    color: #fff;
    background: var(--text-color);
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
    transition: all .50s ease;
}
.form-container .login-now:hover{
    background: var(--main-color);
    color: var(--text-color);
}
.login-rgstr{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;

}
/* Login Register End */

section{
    padding: 70px 17% 60px;
}
/* Home */
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image:url(../images/background.png);
    background-size: cover;
    background-position: bottom-center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}  

.home-text h1{
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
} 
.home-text h1 span{
    display: inline-block;
    font-size: var(--span-font);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
    background-color: var(--text-color);
    
}
.home-text p{
    font-family: "Caveat", sans-serif;
    font-size: var(--p-font);
    width:5.50rem;
    font-weight: 700;
    background-color: hsla(44, 100%, 50%, 0.582);
}
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 13px 40px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all .50s ease;
    cursor: pointer;

}
.btn:hover{
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: var(--text-color);
    color: var(--main-color);
}
/* Home End */
/* About Us */
.about-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.about-us-img img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.about-us-text h5{
    width: 350px;
    text-transform: uppercase;
    padding-left: 50px;
    font-weight: 600;
    background-color: var(--text-color);
    border-radius: 5px;
    color: var(--main-color);
}
.about-us-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.about-us-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: var(--p-font)

}
/* About Us End */
/* Our Work */
.our-work{
    background-color: #9a3ff2;
    padding: 2rem;
}
.our-work h2{
    color: var(--main-color);
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 5px;
}

.slider{
    overflow: hidden;
    position: relative;
    max-width: 48rem;
    height: 500px;
    margin: 0 auto;
}
.lst{
    display: flex;
    aspect-ratio: 16/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;
    transition: 1s;
    overflow: hidden;

}
.lst img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    border: 5px solid var(--main-color);
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: transparent;
    opacity: 0.75;
    transition: all .50s ease;
}
.slider-nav a:hover{
    background-color: var(--main-color);
    border: 2px solid var(--text-color);
    opacity: 1;
}
/* Our Work End */
/* Contact Us */
.contact-us{
    box-sizing: border-box;
}
.contact-container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 5px;
}
.contact-left-title h3{
    font-weight: 600;
    color: var(--text-color);
    font-size: 15px;
    margin-bottom: 5px;
}
.contact-left-title h3 span{
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--text-color);
    color: var(--main-color);
    font-size: 15px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: #615f5f;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid var(--main-color);
}
.contact-inputs::placeholder{
    color: #605072;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 39px;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all .50s ease;
    cursor: pointer;
}
.contact-left button:hover{
   
    border: 2px solid var(--text-color);
    background: var(--text-color);
    color: var(--main-color);
}
/* Contact Us End */
/* Footer */
.footer{
    display: grid;
    background-color: #2a024c ;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    color: hsl(44, 100%, 50%);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}
.footer-box a:hover{
    transform: translateX(-5px);
    color: var(--main-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 30px;
    font-size: 20px;

}
/* Footer End */

/* copyright */
.copyright{
    background: #2a024c;
}
.copyright p{
    text-align: center;
    padding: 20px;
    color: var(--main-color);
    font-size: 15px;

}
/* copyright End */
/* Workspace */

.workspace {
    position: relative;
    height: 200vh;
    width: 100%;
    background-image: url(../images/workspace-background.png);
    background-size: cover;
    align-items: center;
  }
  .containerInpCreate {
    display: absolute;
    left: 50%;
    right: 50%;
    max-width: 600px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.containerInpCreate .titleInp {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.containerInpCreate .titleInp::before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 70px;
    background-color: var(--main-color);
}

.containerInpCreate form .informations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between input boxes */
}

.containerInpCreate form .inputs-box {
    flex: 1 1 45%; /* Set each input box to take 45% of the container width */
}

.containerInpCreate form .inputs-box label {
    margin-bottom: 20px; /* Space between label and input */
}

.containerInpCreate form .inputs-box input {
    height: 45px;
    width: calc(100% - 10px); /* Adjust input width to consider padding */
}

  .cards {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Lexend Deca', sans-serif;
  }
  .cardFront {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    padding: 20px;
    position: relative;
    color: #fff;
    background-color: #210440;
    border: 1px solid #000;
    overflow: hidden;
  }
  .cardFront h1{
    font-size: 25px;
    font-weight: 800;
  }
  .cardBack {
    width: 350px;
    height: 200px;
    padding: 20px;
    position: relative;
    color: #fff;
    background-color: #ffffff;
    border: 1px solid #000;
    overflow: hidden;
    z-index: 1;
  }
  
  
  .logo {
    max-width: 120px;
    max-height: 100px;
    display: absolute;
  }
  
  .leftLine {
    position: absolute;
    left: 40px;
    top: 0;
    width: 20px;
    height: 100vh;
    background-color: #210440; /* Adjust this to match the background color of the front card */
}
  
  
/* Media Queris */
@media (max-width: 1700px){
    header{
        padding: 18px 8%;
    }
    section{
        padding: 50px 8% 40px;
    }
}
@media (max-width: 1200px){
    header{
        padding: 14px 5%;
    }
    section{
        padding: 45px 5% 35px;
    }
    :root{
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }
    .home{
        height: 90vh;
    }
}
@media (max-width: 1050px){
    .form-container{
        top:32%;
        max-width: 300px;
    }
    .form-closer{
        top: 10%;
    }

    .about-us{
        gap: 3rem;
    }
    .about-us{
        gap: 3rem;
    }
    #menu-icon{
        display: block;

    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        color: #979797;
        padding: 0;
        margin: 0 0 40px;
        font-size: 2.2rem;
        font-weight: 400;
    }
    #navbar.open{
        left: 0;
    }
}
@media (max-width: 800px){
    .our-work{
        grid-template-columns: 1fr;
    }
    .about-us{
        grid-template-columns: 1fr;
    }
    .contact-us img{
        display: none;
    }

}

@media (max-width: 600px){
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.1rem;
        --span-font: 3rem;
    }
    .home{
        height: 85vh;
    }
}
@media (max-width: 450px){
    header{
        padding: 12px 3%;
    }
    section{
        padding: 60px 3% 50px;
    }
}
/* Media Queries End */