* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 16px;
}
/*  hsl(44, 100%, 50%)    #210440    */
.work-space {
    padding: 1em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/workspace-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background: #ffffff;*/
}
.work-space .edit-container, .card-container {
    padding: 1em;
    width: 50%;
    border-radius: 10px;
    background: #fbe2d4;
}
.edit-container .title, .title span {
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    font-weight: 700;
    color: #210440;
}
.title span {
    font-size: 2.3rem;
    color: hsl(44, 100%, 50%);
}
.edit-container .informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    color: #210440;
}
.informations .input-box {
    margin: 0 1em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.input-box label {
    font-size: 1.2rem;
    font-weight: 600;
}
.input-box input {
    padding: 0 0.5em;
    width: 50%;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #210440;
    outline: none;
}
.input-box input:focus {
    border-bottom: 1px solid hsl(44, 100%, 50%);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="color"] {
    width: auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    background: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
input[type="file"] {
    padding-bottom: 0.2em;
    opacity: 0.7;
    cursor: pointer;
}
.button-card {
    padding-top: 1em;
    width: 100%;
    text-align: center;
}
.button-card .genBtn, .button-card .dwnBtn {
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    background: hsl(44, 100%, 50%);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.button-card .genBtn:hover, .button-card .dwnBtn:hover {
    color: #ffffff;
    /*border: 2px solid #ffffff;*/
}
.dwnBtn {
    margin-right: 0.5em;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 80vh;
}
.card-container .card-face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 60%;
    min-height: 12em;
    background: #210440;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.card-face img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.card-face h2, .card-back .card-back-title h2 {
    font-size: 1.1rem;
}
.card-face p, .card-back .card-back-title p {
    opacity: 0.8;
}
.card-back {
    display: flex;
    width: 60%;
    min-height: 12em;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.card-back .left-side {
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10%;
    min-height: max-content;
    background: #210440;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
}
.left-side .icons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.card-back .remaining-side {
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.remaining-side .card-back-title, .card-info {
    min-height: 50%;
}
.card-back-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-back-title h2 {
    color: #210440;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.card-info p {
    font-size: 1rem;
    font-weight: 600;
    color: #210440;
}
#dwnBtns {
    padding-top: 0.5em;
}